#tableReport{
  text-align: center;
  border-top: 1pt solid;
  width: 100%;
}

.head{
	background: gray;
}

.hidable {
	display: none;
	color:gray;
}

#tableCategorys{
  text-align: center;
  border-top: 1pt solid;
  width: 100%;
}

#tableOrders{
  border-top: 1pt solid;
  width: 100%;
  text-align: center;
}

#header{
  position: absolute;
  
  top: 5%;
  width: 90%;
  height: 6%;
  left: 5%;
  right: 5%;

  text-align: center;
}

#main{
  position: absolute;
  top: 15%;
  left: 37%;
  right: 25%;
  width: 35%;
  height: 70%;
 
  overflow: auto;
}

#infomation{
	width: 100%;

}

#order{
	width: 100%;
}


.hElem{
	margin: 15pt;
}

.error{
  color: red;
  text-align: center;
}

#footer{
  position: absolute;
  top: 90%;
  width: 90%;
  height: 15%;
  left: 5%;
  right: 5%;
   
  text-align: center;
}