<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
    <display-name>Issue Tracker</display-name>
    <description>JEE training project implementation by Kiryl Parfiankou</description>
    
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/dispatcher-servlet.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.cont</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>LoginController</display-name>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>MainController</display-name>
        <servlet-name>MainController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.MainController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>LogoutController</display-name>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>SubmitCreateControllerr</display-name>
        <servlet-name>SubmitCreateController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.SubmitCreateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitCreateController</servlet-name>
        <url-pattern>/SubmitCreateController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>SubmitInsertController</display-name>
        <servlet-name>SubmitInsertController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.SubmitInsertController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitInsertController</servlet-name>
        <url-pattern>/SubmitInsertController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>CreateUpdateIssueController</display-name>
        <servlet-name>CreateUpdateIssueController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.CreateUpdateIssueController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateUpdateIssueController</servlet-name>
        <url-pattern>/CreateUpdateIssueController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>InsertUpdateIssueController</display-name>
        <servlet-name>InsertUpdateIssueController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.InsertUpdateIssueController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertUpdateIssueController</servlet-name>
        <url-pattern>/InsertUpdateIssueController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>CreateSearchPageController</display-name>
        <servlet-name>CreateSearchPageController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.CreateSearchPageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateSearchPageController</servlet-name>
        <url-pattern>/CreateSearchPageController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>CreateProfilePageController</display-name>
        <servlet-name>CreateProfilePageController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.CreateProfilePageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateProfilePageController</servlet-name>
        <url-pattern>/CreateProfilePageController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>CreateSimpleEntityAddPage</display-name>
        <servlet-name>CreateSimpleEntityAddPage</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.CreateSimpleEntityAddPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateSimpleEntityAddPage</servlet-name>
        <url-pattern>/CreateSimpleEntityAddPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>InsertAddingSimpleEntityController</display-name>
        <servlet-name>InsertAddingSimpleEntityController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.InsertAddingSimpleEntityController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertAddingSimpleEntityController</servlet-name>
        <url-pattern>/InsertAddingSimpleEntityController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>InsertAddingUserController</display-name>
        <servlet-name>InsertAddingUserController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.InsertAddingUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertAddingUserController</servlet-name>
        <url-pattern>/InsertAddingUserController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>UpdateProfileController</display-name>
        <servlet-name>UpdateProfileController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.UpdateProfileController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProfileController</servlet-name>
        <url-pattern>/UpdateProfileController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>CreateUpdateUserController</display-name>
        <servlet-name>CreateUpdateUserController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.CreateUpdateUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateUpdateUserController</servlet-name>
        <url-pattern>/CreateUpdateUserController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>InsertUpdateUserController</display-name>
        <servlet-name>InsertUpdateUserController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.InsertUpdateUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertUpdateUserController</servlet-name>
        <url-pattern>/InsertUpdateUserController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>InsertUpdatePasswordController</display-name>
        <servlet-name>InsertUpdatePasswordController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.InsertUpdatePasswordController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertUpdatePasswordController</servlet-name>
        <url-pattern>/InsertUpdatePasswordController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>InsertCommentController</display-name>
        <servlet-name>InsertCommentController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.InsertCommentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertCommentController</servlet-name>
        <url-pattern>/InsertCommentController</url-pattern>
    </servlet-mapping>
</web-app>