<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Issue Tracker</display-name>
  <description>JEE training project implementation by Kiryl Parfiankou</description>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>org.training.kparfiankou.issuetracker.controllers.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainController</display-name>
    <servlet-name>MainController</servlet-name>
    <servlet-class>org.training.kparfiankou.issuetracker.controllers.MainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainController</servlet-name>
    <url-pattern>/MainController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>org.training.kparfiankou.issuetracker.controllers.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>SubmitCreateControllerr</display-name>
        <servlet-name>SubmitCreateController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.SubmitCreateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitCreateController</servlet-name>
        <url-pattern>/SubmitCreateController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>SubmitInsertController</display-name>
        <servlet-name>SubmitInsertController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.SubmitInsertController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitInsertController</servlet-name>
        <url-pattern>/SubmitInsertController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>CreateUpdateIssueController</display-name>
        <servlet-name>CreateUpdateIssueController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.CreateUpdateIssueController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateUpdateIssueController</servlet-name>
        <url-pattern>/CreateUpdateIssueController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>InsertUpdateIssueController</display-name>
        <servlet-name>InsertUpdateIssueController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.InsertUpdateIssueController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertUpdateIssueController</servlet-name>
        <url-pattern>/InsertUpdateIssueController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>CreateAdministrationPageController</display-name>
        <servlet-name>CreateAdministrationPageController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.CreateAdministrationPageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateAdministrationPageController</servlet-name>
        <url-pattern>/CreateAdministrationPageController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>CreateSearchPageController</display-name>
        <servlet-name>CreateSearchPageController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.CreateSearchPageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateSearchPageController</servlet-name>
        <url-pattern>/CreateSearchPageController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>CreateProfilePageController</display-name>
        <servlet-name>CreateProfilePageController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.CreateProfilePageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateProfilePageController</servlet-name>
        <url-pattern>/CreateProfilePageController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>CreateProjectsListPageController</display-name>
        <servlet-name>CreateProjectsListPageController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.CreateProjectsListPageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateProjectsListPageController</servlet-name>
        <url-pattern>/CreateProjectsListPageController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>CreateUpdateProjectController</display-name>
        <servlet-name>CreateUpdateProjectController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.CreateUpdateProjectController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateUpdateProjectController</servlet-name>
        <url-pattern>/CreateUpdateProjectController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>InsertUpdateProjectController</display-name>
        <servlet-name>InsertUpdateProjectController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.InsertUpdateProjectController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertUpdateProjectController</servlet-name>
        <url-pattern>/InsertUpdateProjectController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>CreateTypesListPageController</display-name>
        <servlet-name>CreateTypesListPageController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.CreateTypesListPageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateTypesListPageController</servlet-name>
        <url-pattern>/CreateTypesListPageController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>CreateUpdateTypeController</display-name>
        <servlet-name>CreateUpdateTypeController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.CreateUpdateTypeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateUpdateTypeController</servlet-name>
        <url-pattern>/CreateUpdateTypeController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>InsertUpdateTypeController</display-name>
        <servlet-name>InsertUpdateTypeController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.InsertUpdateTypeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertUpdateTypeController</servlet-name>
        <url-pattern>/InsertUpdateTypeController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>CreateStatusesListPageController</display-name>
        <servlet-name>CreateStatusesListPageController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.CreateStatusesListPageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateStatusesListPageController</servlet-name>
        <url-pattern>/CreateStatusesListPageController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>CreateResolutionsListPageController</display-name>
        <servlet-name>CreateResolutionsListPageController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.CreateResolutionsListPageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateResolutionsListPageController</servlet-name>
        <url-pattern>/CreateResolutionsListPageController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>CreatePrioritiesListPageController</display-name>
        <servlet-name>CreatePrioritiesListPageController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.CreatePrioritiesListPageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreatePrioritiesListPageController</servlet-name>
        <url-pattern>/CreatePrioritiesListPageController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>CreateUpdateStatusController</display-name>
        <servlet-name>CreateUpdateStatusController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.CreateUpdateStatusController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateUpdateStatusController</servlet-name>
        <url-pattern>/CreateUpdateStatusController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>CreateUpdateResolutionController</display-name>
        <servlet-name>CreateUpdateResolutionController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.CreateUpdateResolutionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateUpdateResolutionController</servlet-name>
        <url-pattern>/CreateUpdateResolutionController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>CreateUpdatePriorityController</display-name>
        <servlet-name>CreateUpdatePriorityController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.CreateUpdatePriorityController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateUpdatePriorityController</servlet-name>
        <url-pattern>/CreateUpdatePriorityController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>InsertUpdateStatusController</display-name>
        <servlet-name>InsertUpdateStatusController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.InsertUpdateStatusController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertUpdateStatusController</servlet-name>
        <url-pattern>/InsertUpdateStatusController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>InsertUpdateResolutionController</display-name>
        <servlet-name>InsertUpdateResolutionController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.InsertUpdateResolutionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertUpdateResolutionController</servlet-name>
        <url-pattern>/InsertUpdateResolutionController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>InsertUpdatePriorityController</display-name>
        <servlet-name>InsertUpdatePriorityController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.InsertUpdatePriorityController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertUpdatePriorityController</servlet-name>
        <url-pattern>/InsertUpdatePriorityController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>CreateSimpleEntityAddPage</display-name>
        <servlet-name>CreateSimpleEntityAddPage</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.CreateSimpleEntityAddPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateSimpleEntityAddPage</servlet-name>
        <url-pattern>/CreateSimpleEntityAddPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>CreateResolutionAddingPage</display-name>
        <servlet-name>CreateResolutionAddingPage</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.CreateResolutionAddingPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateResolutionAddingPage</servlet-name>
        <url-pattern>/CreateResolutionAddingPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>InsertAddingSimpleEntityController</display-name>
        <servlet-name>InsertAddingSimpleEntityController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.InsertAddingSimpleEntityController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertAddingSimpleEntityController</servlet-name>
        <url-pattern>/InsertAddingSimpleEntityController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>InsertAddingUserController</display-name>
        <servlet-name>InsertAddingUserController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.InsertAddingUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertAddingUserController</servlet-name>
        <url-pattern>/InsertAddingUserController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>UpdateProfileController</display-name>
        <servlet-name>UpdateProfileController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.UpdateProfileController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProfileController</servlet-name>
        <url-pattern>/UpdateProfileController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>CreateUpdateUserController</display-name>
        <servlet-name>CreateUpdateUserController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.CreateUpdateUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateUpdateUserController</servlet-name>
        <url-pattern>/CreateUpdateUserController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>InsertUpdateUserController</display-name>
        <servlet-name>InsertUpdateUserController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.InsertUpdateUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertUpdateUserController</servlet-name>
        <url-pattern>/InsertUpdateUserController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>InsertUpdatePasswordController</display-name>
        <servlet-name>InsertUpdatePasswordController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.InsertUpdatePasswordController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertUpdatePasswordController</servlet-name>
        <url-pattern>/InsertUpdatePasswordController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>InsertCommentController</display-name>
        <servlet-name>InsertCommentController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.InsertCommentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertCommentController</servlet-name>
        <url-pattern>/InsertCommentController</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>InsertAddingProjectController</display-name>
        <servlet-name>InsertAddingProjectController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.InsertAddingProjectController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertAddingProjectController</servlet-name>
        <url-pattern>/InsertAddingProjectController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateAddingProjectPageController</servlet-name>
        <servlet-class>org.training.kparfiankou.issuetracker.controllers.CreateAddingProjectPageController
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateAddingProjectPageController</servlet-name>
        <url-pattern>/CreateAddingProjectPageController</url-pattern>
    </servlet-mapping>

</web-app>